<!DOCTYPE html>
<html lang="en">
	<head>
	<title>Order Food Online</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
	</head>
   <body>
     <!--scrollgototopbottom-->
     <button onclick="topFunction()" id="myBtn" title="Go to top"><span class="glyphicon glyphicon-chevron-up"></span></button>
     <!--/endscrolltotop-->
	   <!--new navbar code-->
	   <nav class="navbar navbar-default navbar-fixed-top" id="mNavbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/"><img src="https://aws-website-amp-bbq2v.s3.amazonaws.com/order_food-online.png" height="35px"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="<%= typeof page !== 'undefined' && page === 'restaurants' ? 'active' : '' %>"><a href="/restaurants">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <% if(!currentUser){ %>
                  <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                  <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register"> <span class="glyphicon glyphicon-pencil"></span> Sign Up</a></li>
              <% } else { %>
                  <li><a href="#"><span class="glyphicon glyphicon-user"></span>  Signed In As <strong><%= currentUser.username %></strong></a></li>
                  <li><a href="/users/<%= currentUser._id %>"><span class="glyphicon glyphicon-wrench"></span> Profile</a><li>
                  <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
              <% } %>
          </ul>
           <form action="/restaurants" method="GET" class="navbar-form navbar-right">
                <div class="input-group">
                  <input type="text" name="search" class="form-control" placeholder="Search">
                  <span class="input-group-btn">
                    <button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                  </span>
                </div>
              </form>
        </div>
    </div>
</nav>
	   <!--/end navbar code-->
	   <div class="container">
		   <% if(error && error.length > 0){ %>
		   		<div class="alert alert-danger">
					<%= error %>
		   		</div>
		   <% } %>
		   <% if(success && success.length > 0){ %>
		    	<div class="alert alert-success">
					<%= success %>
		   		</div>
		   <% } %>
	   </div>
	   <div class="container">
	     <br>
	     <br>